@import url("https://fonts.googleapis.com/css?family=Roboto");
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
.weather {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(221, 221, 221);
  @include flex(column, center, center);
  padding: 20px;

  &-info {
    @include flex(column, center, center);
    .weather-icon-text {
      @include flex(row, space-between, center);
    }
  }
  &-description {
    margin: 0 0 5px 0;
    color: gray;
  }
  &-city {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.671);
    font-size: 25px;
    margin: 8px 0;

    .pin {
      margin-right: 10px;
    }
  }
  .temperature {
    font-size: 45px;
    margin: 0;
    font-family: Roboto;
  }

  .weather-details {
    margin-top: 40px;
    display: flex;
  }
}

.details-containter {
  display: flex;
  margin: 0 35px 0 35px;
  color: rgba(255, 255, 255, 0.671);

  .icon {
    font-size: 31px;
  }
  .data {
    &-title {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      margin: 5px;
    }
  }
}
