@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Caveat");
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
.weather {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(221, 221, 221);
  @include flex(column, center, center);
  padding: 20px;

  &-icon {
    font-size: 60px;
  }

  &-info {
    @include flex(column, center, center);
    .weather-icon-text {
      @include flex(column, space-between, center);
    }
  }
  &-description {
    font-family: Caveat;
    font-size: 24px;
    margin: 0 0 5px 0;
    color: rgb(146, 145, 145);
  }
  &-city {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.671);
    font-size: 25px;
    margin: 8px 0;

    .pin {
      margin-right: 10px;
    }
  }
  .temperature {
    font-size: 45px;
    margin: 0;
    font-family: Roboto;
  }

  .weather-details {
    margin-top: 40px;
    display: flex;
  }
}

.details-containter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 30px;
  color: rgba(255, 255, 255, 0.671);

  .icon-title {
    display: flex;
    justify-content: center;
    align-items: center;

    h5 {
      margin: 0;
      color: gray;
    }
    .details-icon {
      font-size: 30px;
      margin-right: 5px;
    }
  }

  .data {
    align-self: flex-end;
    h4 {
      margin: 0;
    }
  }
}

.sun {
  @include flex(row, center, center);
  color: white;
  font-size: 25px;
  padding: 20px;

  .sunrise,
  .sunset {
    margin: 0 70px;

    .sun-hour {
      font-size: 20px;
    }
    .sun-icon {
      font-size: 50px;
      color: yellow;
    }
  }
}

@media screen and (max-width: 750px) {
  .weather-details {
    flex-direction: column;
  }

  .details-containter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;

    .icon-title {
      h5 {
        font-size: 15px;
        margin: 0;
        color: gray;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .sun {
    justify-content: space-between;
    .sunrise,
    .sunset {
      margin: 0 50px;
    }
  }
}

@media screen and (max-width: 430px) {
  .sun {
    .sunrise,
    .sunset {
      margin: 0 30px;
    }
  }
}

@media screen and (max-width: 340px) {
  .details-containter {
    width: 265px;
  }
  .sun {
    .sunrise,
    .sunset {
      margin: 0 25px;
      .sun-hour {
        font-size: 17px;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .details-containter {
    width: 255px;
  }
  .sun {
    .sunrise,
    .sunset {
      .sun-hour {
        font-size: 15px;
      }
    }
  }
}
@media screen and (max-width: 295px) {
  .details-containter {
    width: 240px;
  }
}
